body {
    background: #CDB4DB;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: inline-block;
}

.container img {
  width: 700px;
  height: auto;
  display: block;
  margin: 0 auto 5px;
}

form {
  margin-top: 5px; 
}

input[type="file"] {
    margin: 5px 0;
}

button {
    background:#CDB4DB;
    color: #2B2B2B;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background: #B896C4;
}
