<!DOCTYPE html>
<html>
<head>
    <title>Skin Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='skinalytic_ai_image.jpg') }}" alt="Skinalytic AI Logo">
        <form action="/analyze" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
